page-home {
    .appfont
    {
        font-family: 'Dosis', sans-serif;
    }
    .title .haha
    {
        font-size: 30px;
    }
   .footer
   {
       text-align: center;
   }
    .lol{
       float: right;
        margin-top: -4px;
        font-size: 15px;
    }
    .title
    {
        text-align: center;
        padding-top: 7px;
       font-family: 'Dosis', sans-serif;
    }
}
