page-search {
    .appfont
    {
        font-family: 'Dosis', sans-serif;
    }
    .center
    {
text-align: center;
    }
    .scroll-content
   {
       text-align: center;
       align-content: center;
   }
    .title span{
        font-size: 30px;
    }
    .title
    {   margin-right: 60px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }
}
