page-event-list {
 .footer
   {
       text-align: center;
   }    .title
    {   margin-right: 60px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }
    button{
        text-align: center
    }
}
